<% unless current_user == user %>
    <span class="like">
    <% if book_show.like?(current_user) %>
      <%= form_for(book_show.likes.find_by(user_id: current_user.id), method: :delete, :remote => true) do |f| %>
        <%= button_tag(class: "btn btn-default btn-xs") do %>
          <%= content_tag :span, "#{book_show.likes_count}", class: "glyphicon glyphicon-heart", id: "like-btn" %>
        <% end %>
      <% end %>
    <% else %>
      <%= form_for(book_show.likes.build, :remote => true) do |f| %>
        <div><%= hidden_field_tag :book_id, book_show.id %></div>
        <%= button_tag(class: "btn btn-default btn-xs") do %>
          <%= content_tag :span, "#{book_show.likes_count}", class: "glyphicon glyphicon-heart-empty", id: "like-btn" %>
        <% end %>
      <% end %>
    <% end %>
  </span>
<% end %>