<% provide(:title, "UserPage") %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/user_info', user: @user %>
      <section class="stats">
        <%= render 'users/stats', user: @user %>
      </section>
      <%= render 'follow_form' if user_signed_in? %>
      <br>
      <%= render 'books/form', book: @book %>
    </div>
    <div class="col-md-9">
      <%= render 'books/book_table', books: @books %>
    </div>
  </div>
</div>

