<h2>New book</h2>

<%= form_for(book) do |f| %>
	<h4>Title</h4>
	<%= f.text_field :title, class: "book_title" %>
	<h4>Opinion</h4>

	<P>(maximum is 200 characters)</P>
	<%= f.text_area :body %>

	<%= f.text_area :body, class: "book_body" %>


<div>
    <%= f.submit 'Create Book' %>
</div>
<% end %>